@font-face {
    font-family: 'Blacksword';
    src: url('./fonts/Blacksword.woff2') format('woff2'),
        url('./fonts/Blacksword.woff') format('woff'),
        url('./fonts/Blacksword.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Evelins';
    src: url('fonts/EvelinsRegular_1.woff2') format('woff2'),
        url('fonts/EvelinsRegular_1.woff') format('woff'),
        url('fonts/EvelinsRegular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --cor1: #FFFFFF;
    --cor2: #9EC8E5;
    --cor3: #153851;
    --cor5: #050505;
}



body {
    position: relative;
    background-image: url(./imgs/fd.jpg);
    background-size: cover;
    background-attachment: fixed;

}

.me {
    z-index: 1;
    pointer-events: none;
    position: absolute;
    max-width: 500px;
    left: 64em;
    top: 30em;
    filter: drop-shadow(5px 0px 5px rgba(0, 0, 0, 0.7));
}

/* Nav Bar / Header */
header {
    background-color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
    color: white;
    box-shadow: -20px 50px 100px var(--cor3);
}

header nav {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.btn-nav {
    width: 6.5em;
    padding: 2px;
    border-radius: 20px;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s;
    color: var(--cor1);
    font-family: 'Evelins';
    font-weight: normal;
}
.btn-nav:hover {
    transform: scale(1.1);
    color: white;
    background-color: var(--cor2);
    box-shadow: 0px 5px 30px rgba(212, 145, 12, 0.500);
}

/* Main */

section {
    min-height: 100vh;
    overflow: hidden;
}

/* Boco 1 - Apresentação */
#hello {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;

}
.container_photo{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.photo{
    width: 220px;
    border-radius: 20px;
    border: inset 5px var(--cor1);
    box-shadow: 0px 5px 30px var(--cor5);
}

.artigo {
    background-color: rgba(255, 255, 255, 0.7);
    border: inset 5px var(--cor1);
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    gap: 0.7em;
    color: black;
    border-radius: 20px;
    font-size: 1.5em;
    line-height: 1em;
    box-shadow: 0px 5px 30px var(--cor5);
   
}
.artigo h1{
    font-size: 2em;
    font-family: 'Evelins';
    font-weight: 100;
}
.artigo h4{
    font-size: 1.5em;
    font-family: 'Evelins';
    font-weight: 100;
}

#btn-hello {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20%;
    width: 100%;
}

.btn {
    border: none;
    height: 1.6em;
    width: 8em;
   
    font-size: 0.7em; 
    border-radius: 50px;
    background-color: var(--cor3);
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Evelins';
}

.btn:hover {
    color: var(--cor3);
    border: solid 2px var(--cor3);
    background-color: transparent;
    transform: scale(1.1);
}

/* Tecnologias */
#tec {
    height: 10em;
    background-color: rgba(5, 5, 5, 0.500);
    color: var(--cor1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0px -50px 100px var(--cor3);
}

#tec h1 {
    font-size: 3em;
    font-family: 'Evelins';
    font-weight: normal;
}

#tec img {
    width: 6em;
}


/* Projetos */
#projetos {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), var(--cor3));
    background-attachment: fixed;
    display: grid;
    justify-items: center;
    align-items:center ;
    gap: 10px;
    grid-template-areas: 
    "pj1  pj2 pj3 pro_text"
    "pj4 pj5  pj6 pro_text"
    ;    
    padding: 1em;
}

.projeto{
    grid-area: pj1;
    background-color:var(--cor3);
    width: 300px;
    height: 300px;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_p{
    width: 50%;
}
.pj1{
    grid-area: pj1;
   
}
.pj2{
    grid-area: pj2;
   
}
.pj3{
    grid-area: pj3;
    
}
.pj4{
    grid-area: pj4;
   
}
.pj5{
    grid-area: pj5;
   
}
.pj6{
    grid-area: pj6;
   
}

.proj_selec{
    border: solid 3px var(--cor2) !important;
    box-shadow: 0px 5px 20px var(--cor3);
    transition: 0.2s !important;
}

.proj_text {
    grid-area: pro_text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
    width: 20em;
    height: 600px;
    background-color: rgba(255, 255, 255, 0.7);
    border: inset 5px var(--cor1);
    border-radius: 20px;
    font-size: 1.3em;
    color: var(--cor5);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

.proj_text h1  {
    font-size: 2em;
    color: var(--cor3);
    font-family: 'Evelins';
}
.vermais{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 1.6em;
    width: 8em;
    font-size: 0.9em; 
    border-radius: 50px;
    background-color: var(--cor3);
    color: white;
    cursor: pointer;
    transition: 0.5s;
    font-family: 'Evelins';
}
.vermais:hover{
    color: var(--cor3);
    border: solid 2px var(--cor3);
    background-color: transparent;
    transform: scale(1.1);
}


/* Cursos */
#cursos {
    display: grid;
    grid-template-rows: 1fr 10fr;
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), var(--cor3));
    background-attachment: fixed;
}

.btn-curso {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5em;
    background-color: rgba(5, 5, 5, 0.500);
}

.btn-curso img {
    width: 50px;
    padding: 5px;
    border: none;
    border-radius: 20px;
    background-color: var(--cor3);
    cursor: pointer;
    filter: invert(100%) grayscale(100%);
    transition: 0.5s;
}

.btn-curso img:hover {
    transform: scale(1.1);
    background-color: var(--cor2);
    filter: invert(0%) grayscale(0%);
}

.diplomas {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.certificado {
    width: 425px;
    height: 300px; 
    box-shadow: 0px 5px 30px var(--cor3);
}

/* Contato */
#contato {
    background-color: rgba(21, 56, 81, 0.71);
    min-height: 6em;
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: end;
    font-size: 20px;
}


#contato img {
    max-width: 50px;
    height: 50px;
    transition: ease 0.5s;
    cursor: pointer;
}

#contato img:hover {
    transform: scale(1.1);
}

.redes-s {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    gap: 2em;
    align-items: center;
    background-color: rgba(242, 242, 242, 0.5);
    font-family: 'Evelins';
}

.rodape {
    min-height: 3em;
    background-color: var(--cor5);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: var(--cor1);
    font-family: 'Evelins';
}